#base{
    -fx-background-color: #eff1f5;
}

#taskVbox{
    -fx-background-color: #dce0e8;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

#taskCreationMainHbox{
    -fx-background-color: #bcc0cc;
    -fx-background-radius: 0 0 5 5;
}

/* TASK TEXT */

#taskHBox{
    -fx-background-color: #ccd0da;
}

#taskCreationVBox{
    -fx-background-color: #bcc0cc;
    -fx-border-radius: 0 5 5 0;
    -fx-background-radius: 5 5 0 0;
}

#taskTitle{
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

#taskDescription{
    -fx-font-size: 12;
}

.button{
    -fx-background-radius: 2;
    -fx-background-color: #7287fd;
    -fx-text-fill: #eff1f5;
    -fx-font-weight: bold;
}

.button:hover{
    -fx-background-color: #7f92fd;
}

.button:focused{
    -fx-background-color: #4762ff;
}

.text-field{
    -fx-border-radius: 5;
    -fx-prompt-text-fill: #6c6f85;
    -fx-text-fill: #4c4f69;
    -fx-font-weight: 600;
}

#taskHBox{
    -fx-border-radius: 0px 0px 0px 5px;
    -fx-background-color: #eff1f5;
}

#taskDateLabel{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#completeTaskBtn{
    -fx-background-color: #40a02b;
}

#completeTaskBtn:hover{
    -fx-background-color: #46b030;
}

#completeTaskBtn:pressed{
    -fx-background-color: #378d26;
}

#deleteTaskBtn{
    -fx-background-color: #d5404d;
}

#deleteTaskBtn:hover{
    -fx-background-color:  #e64553;
}

#deleteTaskBtn:pressed{
    -fx-background-color: #c23b46;
}
